input[type=text], select {
    width: 80%;
    padding: 12px 12px;
    margin: 8px 0 !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    margin-left: 20%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100% !important;
    width: 100% !important;
    /*overflow: auto;*/
    overflow-x:hidden;
    background: url("boston.jpg") center center/cover no-repeat fixed;
}
h2 {
    text-align: center !important;
    color: #fff;
}

label, p {
    color: #000000;
    font-size: 16px;
}
table {
    margin-left: 9%;
}
td, th {
    padding-left: 10px !important;
    text-align: center !important;
    vertical-align: middle;
    font-size: 14px;
    color: #000000;
}